
.wrapper {
    align-items: center;
    width: 300px;
    background-color: #9bb7d4;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#noteTitle {
    text-align: center;
}