
.document {
    overflow: auto;
    font-family: Arial;
}
.mainTitle {
    font-size: large;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

.intro {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: large;
    text-align: justify;

}

.mainText {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: large;
    text-align: justify;
}

.subHeading {
    margin-left: 60px;
    margin-right: 100px;

}